<%= form_for(@entry) do |f| %>
  <tr>
    <td><%= f.text_field :food %></td>
    <td><%= f.text_field :amount %></td>
    <td><%= f.text_field :meal_time %>/<%= f.text_field :location %></td>
    <td><%= f.text_field :sensory %></td>
    <td><%= f.text_field :emotional %></td>
    <td><%= f.submit %><input type=reset value="Cancel"></td>
  </tr>
<% end %>